<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @attendee.login %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @attendee.phone_number %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
